html, body {
    padding: auto;
    margin: auto;
    background-color: rgb(78, 67, 67);
}



.personagens {
    position: relative;
    left: 200px;
    margin-bottom: 290px;
}

h1 {
    color: rgb(255, 251, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    position: relative;
    left: 380px;
}


@keyframes animacao1 {
    from {left: 0}
    to {left: 1500px}
}

.container1 {
    margin-bottom: 100px;
    border: groove 1px;
}

.box1 {
    height: 50px;
    width: 100px;
    position: relative;
    animation-name: animacao1;
    animation-duration: 50s;
    animation-delay: 2s;
    animation-iteration-count: infinite;

}


#back1 {
    background-color: blue;
    animation-timing-function: linear;
}

#back2 {
     background-color: yellow;
    animation-timing-function: ease;
}

#back3 {
     background-color: red;
    animation-timing-function: ease-in;
}

#back4 {
     background-color: green;
    animation-timing-function: ease-out;
}

#back5 {
     background-color: pink;
    animation-timing-function: ease-in-out;
} 


/* ------------ FASE 3 ------------------------------------------- */

.container3 {
    border: solid 1px;
    height: 300px;
}

@keyframes animacao3 {
    from {left: 0}
    to {left: 1500px}
}

.box3 {
    /* background-color: orange; */
    height: 50px;
    width: 100px;
    position: relative;
    animation-name: animacao3;
    animation-duration: 50s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

.img {
    height: 100px;
}


.inverter {
    /* transform: scale(-1); fica de cabeça pra baixo */
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); /* já inverte tudo como espelho */
}

#bloco1 {
    /* background-color: blue; */
    animation-timing-function: linear;
}

#bloco2 {
    /* background-color: yellow; */
    animation-timing-function: ease;
}

#bloco3 {
    /* background-color: red; */
    animation-timing-function: ease-in;
}

#bloco4 {
    /* background-color: green; */
    animation-timing-function: ease-out;
}

#bloco5 {
    /* background-color: pink; */
    animation-timing-function: ease-in-out;
} 